<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<div th:fragment="content">

    <div class="page-title">
        <div class="title_left">
            <h3>Projects <small>Listing design</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Projects</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 30%">Nombre Completos</th>
                            <th >Usuario</th>
                            <th style="width: 10%">Estado</th>
                            <th style="width: 20%">#Editar</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="usuario : ${listaUsuarios}">
                            <td>#</td>
                            <td>
                                <a th:text="${usuario.personaByPersonaId.nombreCompleto}" ></a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <a th:text="${usuario.username}" ></a>
                                <br/>
                                <small>************</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" th:if="${usuario.activo}">Activo</button>
                                <button type="button" class="btn btn-danger btn-xs" th:unless="${usuario.activo}">No Activo</button>
                            </td>
                            <td>
                                <a th:href="@{/Usuario/MantenimientoUsuario/{id}(id=${usuario.usuarioId})}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a   th:href="@{/Usuario/MantenimientoUsuario/{id}(id=${usuario.usuarioId})}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>



                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
    <style>
        .a{
            width:40px;
            height:40px;
            border-radius:100%;
            border:none;
            color:#FFF;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            font-size:28px;
            outline:none;
            position:absolute;
            right:0;
            bottom:0;
            margin-right:26px;
            transform:scale(0);
        }
    </style>
    <div class="btnFloat">
        <a data-toggle="modal" data-target=".bs-example-modal-lg"  th:href="@{AddPersona}" class="botonF1">
            <center><span>+</span></center>
        </a>
    </div>

    <!-- Large modal-->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">MANTENER USUARIOS</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal form-label-left input_mask" method="post">

                        <div class="form-group">
                            <div>
                                <input type="hidden" class="form-control"></input>
                            </div>
                        </div>

                        <!--OFICINA-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   id="DNI"
                                   placeholder="Oficina*" th:value="Ayacucho"/>
                            <span class="fa fa-search form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--FECHA-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   id="DNI"
                                   placeholder="Fecha*"/>
                            <span class="fa fa-search form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--DNI-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="DNI*"/>
                            <span class="fa  fa-phone  form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--NOMBRE-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left"
                                   placeholder="Nombre*"/>
                            <span class="fa fa-user form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--VENDEDOR-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left"
                                   placeholder="Vendedor*" disabled=""/>
                            <span class="fa fa-user form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--SALIDA-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left"
                                   placeholder="Salida*" disabled=""/>
                            <span class="fa fa-user form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--NUMERO ASIENTO-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="N° Asiento*"/>
                            <span class="fa fa-envelope form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--ABONO-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="Abono*"/>
                            <span class="fa fa-envelope form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                        <!--SALDO-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="Saldo*"/>
                            <span class="fa fa-envelope form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>


                        <!--PLACA-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="Placa*"/>
                            <span class="fa fa-envelope form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>
                        <!--ESATDO PASAJE-->
                        <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"
                                   placeholder="Estado Pasaje*"/>
                            <span class="fa fa-envelope form-control-feedback left"
                                  aria-hidden="true"></span>
                        </div>

                       <!-- <div class="form-group">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                &lt;!&ndash; <button type="button" class="btn btn-primary">Cancel</button>
                                 <button class="btn btn-primary" type="reset">Reset</button>&ndash;&gt;
                                <button type="submit" class="btn btn-success btn-md">GUARDAR
                                    <span class="fa fa-check"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>-->

                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>-->
                            <div class="form-group">
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <button type="submit" class="btn btn-success btn-md">GUARDAR
                                        <span class="fa fa-check"
                                              aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>




                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>